@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body {
    min-height: 100svh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  button {
    cursor: pointer;
  }

  textarea:not([rows]) {
    min-height: 10em;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.1;
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }

  ul[role='list'],
  ol[role='list'] {
    list-style: none;
    padding: 0;
  }

  a:not([class]) {
    color: currentColor;
    text-decoration-skip-ink: auto;
  }

  :target {
    scroll-margin-block: 5ex;
  }

  #root,
  #__next {
    isolation: isolate;
  }
}
